@using System.Globalization
@code {
    [Parameter, EditorRequired]
    public double PipeXpos { get; set; }

    [Parameter, EditorRequired]
    public int GapYpos { get; set; }

    private const int GameHeight = 500;
    private const int PipeGap = 120;

    private double TopPipeHeight => GapYpos;
    private double BottomPipeHeight => GameHeight - (GapYpos + PipeGap);
}
<div class="pipe-container" style=@($"left:{PipeXpos}px;")>
    <div class="pipe top-pipe" style=@($"height:{GapYpos}px")></div>
    <div class="pipe bottom-pipe" style=@($"height:{400 - (GapYpos + 120)}px")></div>
</div>
