<Router AppAssembly="@typeof(Program).Assembly" 
        AdditionalAssemblies="new[] { typeof(FlappyBird.Client._Imports).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <h1>Page not found</h1>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>